
<div class="mt-5 shadow">
  <div class="d-inline-flex table-title col-12 border border-secondary-subtle border-bottom-0 border-1 p-3 mb-0 rounded-top text-center">
    <app-create-developer-task></app-create-developer-task>
    <h3 class="mx-auto mt-1">Открытые задачи в itsm на разработку</h3>
  </div>
  <div class="table-responsive text-center" style="max-height: 600px; position: relative">
    <app-loader [loading]="isLoading"></app-loader>
    <table class="table table-light table-bordered table-hover mb-0" style="max-height: 600px">
      <thead>
        <tr>
          <th>
            Номер
          </th>
          <th class="col-1">
            Статус в itsm
          </th>
          <th class="col-1">
            Статув в redmine
          </th>
          <th>
            Описание
          </th>
          <th class="col-1">
            Дата регистрации
          </th>
          <th class="col-1">
            Крайний срок
          </th>
          <th class="col-1">
            Открыть в redmine
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let data of taskData; let i=index" (click)="showContextMenu($event, i)" style="cursor: pointer">
        <tr>
          <td>
            {{ data.taskNumber }}
          </td>
          <td>
            {{ data.itsmStatus }}
          </td>
          <td>
            {{ data.redmineSatus }}
          </td>
          <td class="developer-task-description">
            {{ data.description }}
          </td>
          <td>
            {{ data.startDate | date : "dd/MM/yy"}}
          </td>
          <td>
            {{ data.endDate | date : "dd/MM/yy"}}
          </td>
          <td class="target-link ">
            <a href="{{ data.urlToRedmineTask }}" target="_blank"><i class="bi bi-box-arrow-up-right h4"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="contextMenuVisible"
       class="context-menu"
       [style.left.px]="contextMenuPosition.x"
       [style.top.px]="contextMenuPosition.y">
    <button (click)="openEditModal(); $event.stopPropagation()">Редактировать</button>
  </div>
</div>

<app-edit-developer-task #editModal></app-edit-developer-task>
<app-error-modal #errorModal></app-error-modal>
