<ng-template #content let-modal>
  <div class="modal-header">
    <h3 class="modal-title" id="modal-create-title" style="text-align:center">Редактирование</h3>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body" style="position: relative">
    <app-loader [loading]="isLoading"></app-loader>
    <form [formGroup]="form" (ngSubmit)="edit()">
      <div class="d-flex">
        <div class="form-group me-1 col-2">
          <label for="task-number-edit-form-field">Номер задачи</label>
          <input type="number"
                 class="form-control"
                 id="task-number-edit-form-field"
                 formControlName="taskNumber"
                 name="task-number-field" />
        </div>
        <div class="form-group me-1">
          <label>Статус в itsm</label>
          <select class="form-select" formControlName="itsmStatus">
            <option [ngValue]="itsmStatuses.new">{{ itsmStatuses.new }}</option>
            <option [ngValue]="itsmStatuses.inProccess">{{ itsmStatuses.inProccess }}</option>
            <option [ngValue]="itsmStatuses.completed">{{ itsmStatuses.completed }}</option>
          </select>
        </div>
        <div class="form-group me-1">
          <label>Статус в redmine</label>
          <select class="form-select" formControlName="redmineSatus">
            <option [ngValue]="redmineStatuses.new">{{ redmineStatuses.new }}</option>
            <option [ngValue]="redmineStatuses.inProccess">{{ redmineStatuses.inProccess }}</option>
            <option [ngValue]="redmineStatuses.completed">{{ redmineStatuses.completed }}</option>
          </select>
        </div>
        <div class="form-group me-1">
          <label>Статус</label>
          <select class="form-select" formControlName="actionStatus">
            <option [ngValue]="actionStatuses.inProccess">{{ actionStatuses.inProccess }}</option>
            <option [ngValue]="actionStatuses.completed">{{ actionStatuses.completed }}</option>
          </select>
        </div>
      </div>
      <div class="form-group col-4 me-1">
        <label>Начало</label>
        <input type="datetime-local"
               class="form-control"
               id="start-time-edit-form-field"
               formControlName="startDate"
               name="start-time-field" />
      </div>
      <div class="form-group col-4">
        <label>Крайний срок</label>
        <input type="datetime-local"
               class="form-control"
               id="end-time-edit-form-field"
               formControlName="endDate"
               name="end-time-field" />
      </div>
      <div class="form-group">
        <label for="description-edit-form-field">Описание</label>
        <input type="text"
               class="form-control"
               id="description-edit-form-field"
               formControlName="description"
               name="description-field" />
      </div>
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-outline-success me-2 mt-2">Сохранить</button>
        <button type="button" class="btn btn-outline-danger mt-2" (click)="modal.dismiss()">Отменить</button>
      </div>
    </form>
  </div>
</ng-template>

<app-error-modal #errorModal></app-error-modal>
