<div class="mt-5 mb-5 shadow-lg">
  <div class="table-title d-inline-flex col-12 border border-secondary-subtle border-bottom-0 border-1 p-3 mb-0 rounded-top text-center">
    <h5 class="mx-auto mt-1">Реестр обращений</h5>
    <button type="button" class="btn btn-outline-secondary me-2" (click)="loadDataForYear()">За год</button>
    <button type="button" class="btn btn-outline-secondary" (click)="loadDataForWeek()">За неделю</button>
  </div>
  <div class="table-responsive" style="max-height: 600px">
    <table class="table table-light table-bordered table-hover mb-0" style="max-height: 600px">
      <thead class="text-center">
        <tr>
          <th>
            Номер
          </th>
          <th>
            Статус
          </th>
          <th>
            Пользователь
          </th>
          <th>
            Описание
          </th>
          <th>
            Дата регистрации
          </th>
          <th>
            Дата выполнения
          </th>
          <th>
            Время выполнения
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let data of tableDataSet; let i=index">
        <tr>
          <td>
            {{ data.taskNumber }}
          </td>
          <td class="text-center">
            {{ data.status}}
          </td>
          <td class="text-center">
            {{ data.initiatorName}}
          </td>
          <td class="text-center">
            {{ data.title}}
          </td>
          <td class="text-center">
            {{ data.startTaskDate | date : "dd/MM/yy"}}
          </td>
          <td class="text-center">
            {{ data.endTaskDate | date : "dd/MM/yy"}}
          </td>
          <td class="text-center">
            {{ data.executedTime}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-loader [loading]="isLoading"></app-loader>
<app-error-modal #errorModal></app-error-modal>
