<div *ngIf="userData.isLoggedIn" class="sidebar bg-dark" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
  <div class="sidebar-header">
    <div class="sidebar-toggle"
         [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }"
         (click)="onSidebarToggle()">
      <i class="h3 text-white" [class]="isSidebarCollapsed ? 'bi bi-arrow-bar-right' : 'bi bi-arrow-bar-left'" style="cursor: pointer"></i>
    </div>
  </div>
  <div class="sidebar-menu">
    <ul>
      <li class="sidebar-menu-item" routerLink="/">
        <i class="bi bi-pie-chart-fill me-2 h3"></i>
        <a class="nav-link mb-2" *ngIf="!isSidebarCollapsed">Статистика</a>
      </li>
      <li class="sidebar-menu-item" routerLink="note-board">
        <i class="bi bi-journal-bookmark me-2 h3"></i>
        <a class="nav-link mb-2" *ngIf="!isSidebarCollapsed">Заметки</a>
      </li>
      <li class="sidebar-menu-item" routerLink="bussiness-days">
        <i class="bi bi-calendar3 me-2 h3"></i>
        <a class="nav-link mb-2" *ngIf="!isSidebarCollapsed">Календарь</a>
      </li>
      <hr style="margin:0; padding: 0" />
      <li class="sidebar-menu-item" (click)="logout()">
        <i class="bi bi-box-arrow-left me-2 h3" style="color: red"></i>
        <a class="nav-link mb-2" *ngIf="!isSidebarCollapsed">Выход</a>
      </li>
    </ul>
  </div>
</div>
