<div class="mt-5 shadow-lg">
  <div class="table-title d-flex col-12 border border-secondary-subtle border-bottom-0 border-1 p-3 mb-0 rounded-top text-center">
    <h5 class="mx-auto mt-1">Среднее время выполнения по разделам системы</h5>
    <button type="button" class="btn btn-outline-secondary me-2" (click)="loadDataForYear()">За год</button>
    <button type="button" class="btn btn-outline-secondary" (click)="loadDataForWeek()">За неделю</button>
  </div>
  <div class="table-responsive text-center" style="max-height: 400px">
    <table class="table table-light table-bordered table-hover mb-0">
      <thead class="text-center">
        <tr>
          <th>
            Раздел системы
          </th>
          <th>
            Время
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let data of tableDataSet">
        <tr>
          <td class="col-9">
            {{ data.label }}
          </td>
          <td class="text-center">
            {{ data.data}}
          </td>
        </tr>
      </tbody>
    </table>
    <table class="table table-light table-bordered table-hover mb-0">
      <tbody>
        <tr>
          <td class="col-9">
            По всем разделам
          </td>
          <td class="text-center">
            {{ avgTimeToAllSystemSections }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-loader [loading]="isLoading"></app-loader>
<app-error-modal #errorModal></app-error-modal>
