<div class="border border-secondary-subtle rounded-2 shadow-lg p-3 mt-5">
  <div class="col-12 d-inline-flex chart-title">
    <h5 class="mx-auto mt-1">Количество обращений по разделам системы</h5>
    <div>
      <button type="button" class="btn btn-primary" (click)="loadData()"><i class="bi bi-arrow-clockwise"></i></button>
    </div>
  </div>
  <div class="chart-container" style="position: relative">
    <app-loader [loading]="isLoading"></app-loader>
    <canvas height="400" #chart id="chart">{{ chart }}</canvas>
  </div>
</div>

<app-error-modal #errorModal></app-error-modal>
