<div class="container">
  <div class="row">
    <div class="d-flex justify-content-center loginContainer" style="margin-top: 10rem">
      <div class="loginForm">
        <form class="border border-3 rounded p-3 text-dark shadow-lg" [formGroup]="loginForm" (ngSubmit)="login()">
          <h3 class="mb-2">Вход в систему</h3>
          <div *ngIf="errorMessage" class="alert alert-danger">
            {{ errorMessage }}
          </div>
          <div class="form-group">
            <label for="login">Логин</label>
            <input type="text"
                   class="form-control"
                   id="login"
                   required
                   formControlName="login"
                   name="loginField" />
            <div *ngIf="loginForm.get('login')?.hasError('required') && submittedClick"
                 class="alert alert-danger mt-2">
              Поле обязательно для заполнения
            </div>
          </div>
          <div class="form-group mt-2">
            <label>Пароль</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   required
                   formControlName="password"
                   name="passwordField" />
            <div *ngIf="loginForm.get('password')?.hasError('required') && submittedClick"
                 class="alert alert-danger mt-2">
              Поле обязательно для заполнения
            </div>
          </div>
          <button type="submit" class="w-100 btn btn-primary mt-3 shadow" (click)="submittedClick=true">Войти</button>
        </form>
      </div>
    </div>
  </div>
</div>
